[submodule "flutter_capstone-design"]
	path = flutter_capstone-design
	url = git@github.com:mingdu9/flutter_capstone-design.git
[submodule "python_capstone-design"]
	path = python_capstone-design
	url = git@github.com:mingdu9/python_capstone-design.git
